<a href="https://colab.research.google.com/github/moonbeam87/tensorflow-learning/blob/master/PointChange.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
from numpy import sqrt,mean,log,diff
import quandl
from datetime import datetime
from dateutil.relativedelta import relativedelta

In [0]:
!pip install Quandl

In [0]:
quandl.ApiConfig.api_key = 'NxTUTAQswbKs5ybBbwfK'
stock_table = quandl.get('WIKI/GOOGL')
close = stock_table[['Adj. Close']]
close.head()

            Adj. Close
Date
2004-08-19   50.322842
2004-08-20   54.322689
2004-08-23   54.869377
2004-08-24   52.597363
2004-08-25   53.164113

In [0]:
print(close['Adj. Close'].iloc[0]) # first element 
print(close['Adj. Close'].iloc[-1]) # last element

50.32284179174976
1006.94

In [0]:
diff = close['Adj. Close'].iloc[-1]/close['Adj. Close'].iloc[0]
print(diff)

20.009601289350954

In [0]:
dif = diff * 100

In [0]:
print(dif)

2000.9601289350953